.overflow-MHvUT {
  overflow-x: auto;
}
.overflow-MHvUT > * {
  width: 100%;
  min-width: 752px;
}
.danger-YbTvh {
  color: #f25959;
  transition-property: color, background;
  transition-duration: 0.2s;
}
.danger-YbTvh:hover {
  color: #f68989;
  background: #3c3c3c;
}
.danger-YbTvh.selected-i2qeo:hover {
  background: #f68989;
}
.danger-YbTvh:active {
  color: #f68989;
  background: #3c3c3c;
}
.danger-YbTvh.selected-i2qeo:active {
  background: #f68989;
}
.danger-YbTvh:focus {
  color: #f68989;
  background: #3c3c3c;
}
.danger-YbTvh.selected-i2qeo:focus {
  background: #f68989;
}
.danger-YbTvh:disabled {
  color: #d51010;
  background: #3c3c3c;
}
.danger-YbTvh.selected-i2qeo:disabled {
  background: #d51010;
}
.danger-YbTvh.selected-i2qeo {
  color: #e6e6e6;
  background: #f25959;
}
table {
  border-collapse: collapse;
}
table > tbody > tr:nth-child(odd) > td {
  background: #151515;
}
table.events-L4mOi > tbody > tr.monthRow-CvJrN > td {
  font-weight: bolder;
}
table.events-L4mOi > tbody > tr:last-child > td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
table.events-L4mOi > tbody > tr > td.nowrap-CkoFO {
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  table.events-L4mOi > tbody > tr > td {
    white-space: nowrap;
  }
}
table.events-L4mOi > tbody > tr > td:not(:last-child) {
  padding-inline-end: 8px;
}
table.events-L4mOi > tbody > tr > td.button-U9Hv3 {
  cursor: pointer;
  color: white;
  transition-property: color, background;
  transition-duration: 0.2s;
}
table.events-L4mOi > tbody > tr > td.button-U9Hv3:hover {
  color: #ffffff;
  background: #3c3c3c;
}
table.events-L4mOi > tbody > tr > td.button-U9Hv3.selected-i2qeo:hover {
  background: #ffffff;
}
table.events-L4mOi > tbody > tr > td.button-U9Hv3:active {
  color: #ffffff;
  background: #3c3c3c;
}
table.events-L4mOi > tbody > tr > td.button-U9Hv3.selected-i2qeo:active {
  background: #ffffff;
}
table.events-L4mOi > tbody > tr > td.button-U9Hv3:focus {
  color: #ffffff;
  background: #3c3c3c;
}
table.events-L4mOi > tbody > tr > td.button-U9Hv3.selected-i2qeo:focus {
  background: #ffffff;
}
table.events-L4mOi > tbody > tr > td.button-U9Hv3:disabled {
  color: #cccccc;
  background: #3c3c3c;
}
table.events-L4mOi > tbody > tr > td.button-U9Hv3.selected-i2qeo:disabled {
  background: #cccccc;
}
table.events-L4mOi > tbody > tr > td.button-U9Hv3.selected-i2qeo {
  color: #1a1a1a;
  background: white;
}
table.events-L4mOi > tbody > tr > td.button-U9Hv3 > .event-v3YsI > .button-U9Hv3 > .title-CTBpJ {
  font-weight: bolder;
  text-decoration: underline;
}
table.calendar-UFiO2 {
  table-layout: fixed;
  line-height: 1.2;
}
table.calendar-UFiO2 > thead,
table.calendar-UFiO2 > tfoot {
  font-weight: bolder;
}
table.calendar-UFiO2 > thead > tr > td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
table.calendar-UFiO2 > tbody > tr > td {
  text-align: left;
  vertical-align: top;
  height: 76.8px;
  padding: 8px 4px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
table.calendar-UFiO2 > tbody > tr > td:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
table.calendar-UFiO2 > tbody > tr > td > .date-PUjr_ {
  margin-bottom: 8px;
}
table.calendar-UFiO2 > tbody > tr > td > .date-PUjr_.past-AI9Uk {
  color: #cccccc;
}
table.calendar-UFiO2 > tbody > tr > td > .date-PUjr_.month-DFk_R {
  font-weight: bolder;
}
table.calendar-UFiO2 > tbody > tr > td.today-LdPWd {
  font-weight: bolder;
  border: 2px solid #668ae8;
}
table.calendar-UFiO2 > tbody > tr > td.today-LdPWd > .date-PUjr_ {
  color: #668ae8;
}
table.calendar-UFiO2 > tbody > tr > td > .event-v3YsI > .button-U9Hv3 {
  font-size: 16px;
  margin-bottom: 8px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  color: white;
  transition-property: color, background;
  transition-duration: 0.2s;
}
table.calendar-UFiO2 > tbody > tr > td > .event-v3YsI > .button-U9Hv3:hover {
  color: #ffffff;
  background: #3c3c3c;
}
table.calendar-UFiO2 > tbody > tr > td > .event-v3YsI > .button-U9Hv3.selected-i2qeo:hover {
  background: #ffffff;
}
table.calendar-UFiO2 > tbody > tr > td > .event-v3YsI > .button-U9Hv3:active {
  color: #ffffff;
  background: #3c3c3c;
}
table.calendar-UFiO2 > tbody > tr > td > .event-v3YsI > .button-U9Hv3.selected-i2qeo:active {
  background: #ffffff;
}
table.calendar-UFiO2 > tbody > tr > td > .event-v3YsI > .button-U9Hv3:focus {
  color: #ffffff;
  background: #3c3c3c;
}
table.calendar-UFiO2 > tbody > tr > td > .event-v3YsI > .button-U9Hv3.selected-i2qeo:focus {
  background: #ffffff;
}
table.calendar-UFiO2 > tbody > tr > td > .event-v3YsI > .button-U9Hv3:disabled {
  color: #cccccc;
  background: #3c3c3c;
}
table.calendar-UFiO2 > tbody > tr > td > .event-v3YsI > .button-U9Hv3.selected-i2qeo:disabled {
  background: #cccccc;
}
table.calendar-UFiO2 > tbody > tr > td > .event-v3YsI > .button-U9Hv3.selected-i2qeo {
  color: #1a1a1a;
  background: white;
}
.modal-QnQZL {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  font-weight: normal;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 34, 34, 0.5);
  cursor: pointer;
  transition: opacity 0.3s;
}
.modal-QnQZL > .content-U8Vo5 {
  background-color: #222;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  max-height: 90vh;
  overflow-y: auto;
  max-width: 768px;
  padding: 8px 8px;
  cursor: initial;
  transition: transform 0.3s;
}
.modal-QnQZL > .content-U8Vo5 > .title-CTBpJ {
  display: flex;
  flex-flow: row wrap;
  font-size: 24px;
}
.modal-QnQZL > .content-U8Vo5 > .title-CTBpJ > .title-CTBpJ {
  font-weight: bolder;
}
.modal-QnQZL > .content-U8Vo5 > .title-CTBpJ > .close-Huud7 {
  margin-inline-start: auto;
  padding: 0 8px;
  cursor: pointer;
  transition-property: background-color, color;
  color: #f25959;
  transition-property: color, background;
  transition-duration: 0.2s;
}
.modal-QnQZL > .content-U8Vo5 > .title-CTBpJ > .close-Huud7:after {
  content: '✕';
}
.modal-QnQZL > .content-U8Vo5 > .title-CTBpJ > .close-Huud7:hover {
  color: #f68989;
  background: #3c3c3c;
}
.modal-QnQZL > .content-U8Vo5 > .title-CTBpJ > .close-Huud7.selected-i2qeo:hover {
  background: #f68989;
}
.modal-QnQZL > .content-U8Vo5 > .title-CTBpJ > .close-Huud7:active {
  color: #f68989;
  background: #3c3c3c;
}
.modal-QnQZL > .content-U8Vo5 > .title-CTBpJ > .close-Huud7.selected-i2qeo:active {
  background: #f68989;
}
.modal-QnQZL > .content-U8Vo5 > .title-CTBpJ > .close-Huud7:focus {
  color: #f68989;
  background: #3c3c3c;
}
.modal-QnQZL > .content-U8Vo5 > .title-CTBpJ > .close-Huud7.selected-i2qeo:focus {
  background: #f68989;
}
.modal-QnQZL > .content-U8Vo5 > .title-CTBpJ > .close-Huud7:disabled {
  color: #d51010;
  background: #3c3c3c;
}
.modal-QnQZL > .content-U8Vo5 > .title-CTBpJ > .close-Huud7.selected-i2qeo:disabled {
  background: #d51010;
}
.modal-QnQZL > .content-U8Vo5 > .title-CTBpJ > .close-Huud7.selected-i2qeo {
  color: #e6e6e6;
  background: #f25959;
}
.modal-QnQZL.enter-zJkH5,
.modal-QnQZL.exit-MSqsK.exitActive-mub_8 {
  opacity: 0;
}
.modal-QnQZL.enter-zJkH5 > .content-U8Vo5,
.modal-QnQZL.exit-MSqsK.exitActive-mub_8 > .content-U8Vo5 {
  transform: scale(0);
}
.modal-QnQZL.exit-MSqsK,
.modal-QnQZL.enter-zJkH5.enterActive-AjVlF {
  opacity: 1;
}
.modal-QnQZL.exit-MSqsK > .content-U8Vo5,
.modal-QnQZL.enter-zJkH5.enterActive-AjVlF > .content-U8Vo5 {
  transform: none;
}


/*# sourceMappingURL=509.ea31605d1127125f4142.css.map*/